$blue: #4D8E96;

.current {
  color: $blue;
}

html {
  background: url(../images/WavesDark.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}

body {
  width: auto;
  text-align: left;
  font-family: "Equity";
}

.content,
.copyright {
  display: inline-block;
  margin-left: 10vw;
  color: white;
  width: 700px;
  max-width: 70vw;
}

.copyright {
  font-size: 0.8rem
}

.content img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.content ul {
  padding-left: 0;
}

.content li:last-child {
  margin-bottom: 0;
}

.content li {
  margin: 1rem 0 1rem 0;
  list-style: disc;
}

.content strong {
  text-shadow: 2px 2px darkslategrey;
}

.feed li {
  list-style: none !important;
}

.post-meta {
  margin-right: 1rem;
}

.post-meta img {
  border: none;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid white;
}

nav {
  font-family: "Equity Small Caps";
  text-transform: lowercase;  
  margin-bottom: 3rem;
}